@import './partials/_vars.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary_color;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
}

.btn {
    border: 1px solid $border_color;
    color: $secondary_color;
    @apply inline-block h-full mx-3 py-1 px-5 uppercase;
    background-color: transparent;
    transition: $transition;

    &:hover {
        background-color: $primary_color;
    }

    &-delete {
        background-color: $error_color;
    }

    &-submit {
        background-color: $success_color;
    }
}

.form__section {
    @apply py-10;
}

.form__wrapper {
    @apply w-full md:w-10/12 xl:w-7/12 flex flex-col justify-start items-center flex-nowrap p-10;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);

    form {
        @apply w-full;

        label {
           color: $secondary_color;
        }
   
        .input_group {
            @apply w-full;
        }
   
        input {
            width: 100%;
        }

        .buttons__wrapper {
            @apply flex flex-row justify-center flex-nowrap mt-5;
        }
    }
}

.test-enter-active, .test-leave-active {
    transition: opacity .2s;
}

.test-enter, .test-leave-to {
    opacity: 0;
}

.nuxt-link-exact-active {
    font-weight: bold;
    text-decoration: underline;
}