@import './partials/_vars.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary_color;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
}

.test-enter-active, .test-leave-active {
    transition: opacity .2s;
}

.test-enter, .test-leave-to {
    opacity: 0;
}

.nuxt-link-exact-active {
    font-weight: bold;
    text-decoration: underline;
}